<div class="page">
  <div class="card" *ngFor="let item of macroRegiaoCard">
    <h2 class="font">Checar as estatística da região {{item.nome}}</h2>
    <hr>
    <mat-accordion>
      <form [formGroup]="formIBGE">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <mat-label>Selecione o problema</mat-label>
              <mat-select formControlName="select" (valueChange)="ableInput()" multiple>
                <mat-select-trigger>
                  {{selectArray[0] || ''}}
                  <span *ngIf="(selectArray.length || 0) > 1" class="example-additional-selection">
                    (+{{(selectArray.length || 0) - 1}} {{selectArray.length === 2 ? 'outro' : 'outros'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let selectValue of pesquisas" [value]="selectValue.nome">{{selectValue.nome}}</mat-option>
              </mat-select>
            </mat-form-field>


          <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="estado">
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </form>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

